{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="main">

  <ul class="anotherAccord">
    {% for accordion in list_of_accordion %}
    <div class="pack d-flex flex-row justify-content-between">
      <li id="{{ forloop.counter }}" data-id="{{ forloop.counter }}">
        <div>
          <h3>{{ accordion.title }}</h3>
        </div>
        <div class="content">
          {% for info in accordion.information_set.all %}
          <h4>{{ info.info_name }}</h4>
          <p>{{ info.info_content }}</p>
          {% endfor %}
        </div>
      </li>
      <div class="d-flex flex-row thebutton">
        <button onclick="return moveChoiceTo(this, -1)" data-id="{{ forloop.counter }}"><i class="fas fa-arrow-up"></i></button>
        <button onclick="return moveChoiceTo(this, 1)" data-id="{{ forloop.counter }}"><i class="fas fa-arrow-down"></i></button>
      </div>
    </div>
      
    {% endfor %}
  </ul>
</div>


{% endblock content %}
  
{% block js %}
  <script src="{% static 'js/home.js' %}"></script>
  
{% endblock js %}