.main {
    display: flex;
    justify-content: center;

    height: 70vh;
}

ul {
    margin-top: 20%;
    width: 50%;
    list-style-type: none;
}
.pack {
    width: 100%;
    border: 1px solid black;
}

.pack:not(:last-child) {
    margin-bottom: 10px;
}

li {
    width: 80%;
    cursor: pointer;
}

li, .thebutton button {
    padding: 12px;
}

.content {
    border-top: 1px solid black;
    margin-top: 10px;
}
.content h4 {
    margin-top: 10px;
}  

